Library/
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Minotaur_001.fbx
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Minotaur_001.fbx.meta
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Texture_Minotaur_01.png
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Texture_Minotaur_01.png.meta
Assets/GoogleVR/Plugins/iOS/libaudioplugingvrunity.a
Assets/8BricksDefense/NetworkTools/
__CLIENTS/
Temp/
_APK/8BricksDefense.apk
VIDEOS/
ZIPs/
_MARKETING/
Assets/_ROBOCOPY.bat
Assets/_ROBOCOPY.bat.meta
Assets/FacebookSDK/Plugins/iOS/
__APK/
__MARKETING/
*.meta 
