Library/
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Minotaur_001.fbx
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Minotaur_001.fbx.meta
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Texture_Minotaur_01.png
Assets/8BricksDefense/YourVRUI/graphics/Minotaur/ART/Texture_Minotaur_01.png.meta
Assets/GoogleVR/Plugins/iOS/libaudioplugingvrunity.a
Assets/8BricksDefense/NetworkTools/
__CLIENTS/
